.main-container {
    margin: auto;
    width: 40%;
    padding: 250px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

h1 {
    background-color: rgb(147, 196, 125);
    color: white;
    text-align: center;
    width: 100%;
    min-width: 0;
    font-size: 18px;
    padding: 10px 5px;

}

.btn {
    margin: 10px 0;
    background-color: rgb(224, 102, 102);
    color: white;
    border: none;
    padding: 3px 7px;
    font-size: 14px;
    text-align: left;
}

.table {
    width: 100%;
    color: rgb(255, 172, 47);
}

#skill {
    width: 70%;
    min-width: 0;
    border: 3px solid  rgb(147, 196, 125);
    background-color: white;
    padding: 10px 0;
    margin-top: 10px;

}

#submit {
    width: calc(30% - 20px);
    min-width: 0;
    border: 3px solid  rgb(147, 196, 125);
    color: rgb(147, 196, 125);
    background-color: white;
    padding: 10px 0;
    margin-top: 10px;
    float: right;
}


